html 
    head 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script
            include ../public/login.js
    body 
        label Username
        input(type='text', id='username')
        label Password
        input(type='text', id='password')
        button(name='Login', onclick='loginuser(event)') Login