html 
    head 
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include ./header 
        h1 Hello World 
        h1 #{ title}
        h2 Good Morning #{firstname}
        include ./footer